services:
  fastapi:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
    command: python app/main.py
    depends_on:
      - postgres
      - redis
    volumes:
      - ./media:/app/media
      - ./static:/app/static

  celery:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
    command: celery -A app.worker.celery_app worker --loglevel=info
    depends_on:
      - redis
      - postgres

  celery_beat:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}
    command: celery -A app.worker.celery_app beat --loglevel=info
    depends_on:
      - redis
      - postgres

  postgres:
    image: postgres:17
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8


  aerich:
    build: .
    env_file:
      - .env
    container_name: aerich
    command: >
      sh -c "
      aerich upgrade
      "
    depends_on:
      - postgres
    environment:
      TORTOISE_DB_URL: ${DATABASE_URL}

volumes:
  postgres_data:
